<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms area</title>
</head>
<body>
    <h1>Add user</h1>
    <form action="/users/savedb" method="post">
        
        <input type="text" placeholder="digite seu nome:" name="name" id="">
        <input type="text" placeholder="sua idade" name="age" id="">
        <input type="submit" value="cadastrar">

    </form>
</body>
</html>